[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "SMITE"]
	path = SMITE
	url = https://github.com/greallylab/smite
	shallow = true
	registered = true
